<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <%= ordersJson %>
        <ul>
            % for i, order in ipairs(orders) do
                <li><%= i %>  <%= order.Number %></li>
            % end
        </ul>
    </body>
</html>
