<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <%= users %>
        <ul>
            % for i, user in ipairs(allUsers) do
                <li><%= i %>  <%= user.Name %></li>
            % end
        </ul>
    </body>
</html>
